{% extends 'posts/base.html' %}
{% block conteudo %}
<a href="new_post">Criar postagem</a>
<h1>Post</h1>
<form method="get">
    <input type="text" name="q" placeholder="Pesquisar posts por titulo..."
    value="{{request.GET.q|default:''}}" autocomplete="off">
    <select name="categorias" id="categoria">
        <option value="">Todas</option>
    {% for categoria in categorias %}
        <option value="{{ categoria.nome }}" {% if request.GET.categorias == categoria.nome %}selected{% endif %}>{{ categoria }}</option>
    {% endfor %}
    </select>
    <button type="submit">Pesquisar</button>
    
    {% if request.GET.q or request.GET.categorias %}
    <a href="?">Limpar</a>
    {% endif %}
</form>
<br>
<ul>
    {%for post in posts%}
    <li> {{post.titulo}} - {{post.autor}}</li>
    {% empty %}
    <li> nenhuma noticia encontrada </li>
    {% endfor %}
</ul>
{% endblock %}